/* Basic styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#logo-background-image {
  background-image: url('../images/jumble-jungle-background-image-large.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* Styling for Main Menu icons which consist of Play, Leaderboard and Help */
.fas {
  font-size: 60px;
}

/* Center the icon container */
.main-menu-options {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red; /* Red border around all 3 icons */
}

/* Additional styling for individual icon divs */
.play-game,
.leaderboard,
.help {
  display: inline-block; /* Display icons in a line */
  margin: 0 10px; /* Adjust margin between icons */
}

/* Styling for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 9999;
}

/* Center the help section */
.help-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* White background for the help section */
  padding: 20px;
  text-align: center;
  z-index: 10000;
}

  /* Set a specific height to trigger the scrollbar */
  #helpSection {
    height: 400px;
    overflow-y: auto; /* Add vertical scrollbar when content exceeds the height */
  }
  
  /* Reduce the text size inside #helpSection */
  #helpSection p {
    font-size: 12px;
  }

/* Initially hide the help section */
.overlay.active {
  display: block;
}

/* Styles for the help image placed to the left */
.left-image {
  float: left; /* Image will float to the left of the text */
  margin-right: 10px; /* Adjust as needed to provide space between image and text */
  max-width: 100%;
  height: 100px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.box {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.letter {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Background image positioning for phones in landscape mode */
@media screen and (min-height: 280px) and (max-height: 430px) and (orientation: landscape) {
  #logo-background-image {
    background-image: url('../images/jumble-jungle-background-image-large.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 50px;
    height: auto;
    width: 100%;
  }
}

/* Media query: Foldable phones and smaller screen sizes - landcape and portrait */
@media screen and (max-width: 739px) {
  .box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }
  
  .box {
    width: 30px;
    height: 30px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* To remove the border around the letters when they are placed into one of the eight boxes - this prevents overlapping */
.letter {
  width: 30px;
  height: 30px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Class to hide border */
.letter.no-border {
  border: none; /* Hide the border */
}
}

/* Media query: Foldable phones and smaller screen sizes - landcape and portrait */
@media screen and (min-width: 1447px) {
#logo-background-image {
  background-image: url('../images/jumble-jungle-background-image-larger.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
}